<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.xiaoY.mapper.CourseCommentMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.pj.xiaoY.entity.CourseComment" id="courseCommentMap">
        <result property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userAvatar" column="user_avatar"/>
        <result property="content" column="content"/>
        <result property="likeNum" column="like_num"/>
        <result property="dislikeNum" column="dislike_num"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="queryPage" resultType="com.pj.xiaoY.entity.CourseComment">
        select user_id as id ,
               course_id,
               user_id,
               user_info.nickname as user_name,
               user_info.avatar as user_avatar,
               content ,
               like_num,
               dislike_num,
               course_comment.is_deleted as is_deleted,
               course_comment.create_time as create_time,
               course_comment.update_time as update_time
        from course_comment
                 left join user_info on course_comment.user_id = user_info.id
        where course_comment.is_deleted = 0

    </select>


</mapper>