.review-info-page{
    padding: 2rem;
    width: 100%;
    height:100%;
    /* background-color: var(--color-bg-card); */
    /* background-color: blue; */
    /* border: 1px solid var(--color-border); */
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.review-info-container{
    /* max-width: 800px; */
    width:90%;
    height: fit-content;
    /* margin: 0 auto; */
    background-color: var(--color-bg);
    /* background-color: red; */
    padding: 2rem;
    /* border-radius: 1rem; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
}
.review-info-left-out{
    background-color: var(--color-bg-card);
    position : sticky;
    top:0;
    width:25%;
    height: fit-content;
    padding:0.5rem;
    animation : transformLeft 0.7s ease-in-out;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}
.review-info-left{

    width: 100%;
    
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    display: flex;
    /* display: inline-block; */
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    
    /* animation : transformLeft 0.7s ease-in-out; */
    img{
        width: 90%;
        height: auto;
        object-fit: cover;
        margin-bottom:1rem;
    }
    h2{
        font-size: 2rem;
        font-weight: 700;
        /* color: var(--color-text); */
        text-align: center;
    }
    p{
        font-size: 1rem;
        color: var(--color-text-secondary) !important;
        text-align: center;
    }
}

.review-info-right{
    background-color: var(--color-bg-card);
    animation : fadeIn 0.7s ease-in-out;
    width: 72%;
    height: fit-content;
    
    /* border: 1px solid var(--color-border); */
    display: flex;
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); */
    /* display: inline-block; */
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    .review-info-right-header{
        align-self: flex-start;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
            
                font-size: 3rem;
                font-weight: 700;
                /* color: var(--color-text); */
                
                margin-bottom: 0.8rem;
            }
            p{
                
                font-size: 1.25rem;
                color: var(--color-text-secondary);
                line-height: 1.5;
                /* margin-left: 5rem; */
                margin-bottom: 0.3rem;
            }
        }

    }
}
.review-info-detail{
    width: 85%;
    min-height: 250px;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-border);
}

.revie-info-comment{
    margin-top: 1.5rem;
    /* margin:1.5rem; */
    padding: 1.5rem;
    width: 95%;
    /* background: red; */
    border: 2px solid black;
    position: relative;
    border-radius: 0.5rem;
}
.review-info-comment-container{
    /* background: blue; */
    /* margin:1rem; */
    padding:1rem;
    border: 1.5px solid rgba(24, 144, 255, 1);
    display:flex;
    flex-direction: column;
    align-items: center;

}

.review-info-textarea{
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 0.5rem;
    font-size: 1.2rem;
    padding:1rem;
    border: 1px solid rgba(0 , 0 , 0 ,0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    outline: none;
    font-family: inherit;
    /* color: var(--color-text); */
    background-color: var(--color-bg);

}

.review-info-comment-bottom{
    
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
    .left{
        padding-left: 0.5rem;
        /* background: red; */
    }
}
.review-info-user-comment{
    width:100%;
    /* min-height:10rem; */
    /* border:1px solid rgba(123 , 123 , 0 , 0.4); */
    margin:1rem 0;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    height: fit-content;
    padding:1rem;
}

@media (max-width: 760px) {

    .review-info-left{
        display: none;
    }
    .review-info-right{
        width:100%;
        /* margin-bottom: 2rem; */
    }

    .review-info-container{
        width:100%;
    }
    .review-info-page{
        padding:0;
    }
}